@font-face {
    font-family: 'SeoulHangang';
    src:  url('fonts/SeoulHangang-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SeoulHangang';
    src:  url('fonts/SeoulHangang-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'SeoulHangang';
    src:  url('fonts/SeoulHangang-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SeoulHangang';
    src:  url('fonts/SeoulHangang-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}



/* @font-face{font-family:'Asap';font-style:normal;font-weight:400;src:url('/fonts/asap/Asap[wdth,wght].ttf') format('truetype')} */
@font-face{font-family:'Asap';font-style:normal;font-weight:400;src:url('fonts/asap/Asap-Regular.ttf') format('truetype')}
@font-face{font-family:'Asap';font-style:italic;font-weight:400;src:url('fonts/asap/Asap-Italic[wdth,wght].ttf') format('truetype')}
@font-face{font-family:'Asap';font-style:italic;font-weight:400;src:url('fonts/asap/Asap-Italic.ttf') format('truetype')}
@font-face{font-family:'Asap';font-style:normal;font-weight:500;src:url('fonts/asap/Asap-Medium.ttf') format('truetype')}
@font-face{font-family:'Asap';font-style:italic;font-weight:500;src:url('fonts/asap/Asap-MediumItalic.ttf') format('truetype')}
@font-face{font-family:'Asap';font-style:normal;font-weight:600;src:url('fonts/asap/Asap-SemiBold.ttf') format('truetype')}
@font-face{font-family:'Asap';font-style:italic;font-weight:600;src:url('fonts/asap/Asap-SemiBoldItalic.ttf') format('truetype')}
@font-face{font-family:'Asap';font-style:normal;font-weight:700;src:url('fonts/asap/Asap-Bold.ttf') format('truetype')}
@font-face{font-family:'Asap';font-style:italic;font-weight:700;src:url('fonts/asap/Asap-BoldItalic.ttf') format('truetype')}

@font-face{font-family:'Asap Condensed';font-style:normal;font-weight:400;src:url('fonts/asap/Asap_Condensed[wdth,wght].ttf') format('truetype')}
@font-face{font-family:'Asap Condensed';font-style:normal;font-weight:400;src:url('fonts/asap/Asap_Condensed-Regular.ttf') format('truetype')}
@font-face{font-family:'Asap Condensed';font-style:italic;font-weight:400;src:url('fonts/asap/Asap_Condensed-Italic[wdth,wght].ttf') format('truetype')}
@font-face{font-family:'Asap Condensed';font-style:italic;font-weight:400;src:url('fonts/asap/Asap_Condensed-Italic.ttf') format('truetype')}
@font-face{font-family:'Asap Condensed';font-style:normal;font-weight:500;src:url('fonts/asap/Asap_Condensed-Medium.ttf') format('truetype')}
@font-face{font-family:'Asap Condensed';font-style:italic;font-weight:500;src:url('fonts/asap/Asap_Condensed-MediumItalic.ttf') format('truetype')}
@font-face{font-family:'Asap Condensed';font-style:normal;font-weight:600;src:url('fonts/asap/Asap_Condensed-SemiBold.ttf') format('truetype')}
@font-face{font-family:'Asap Condensed';font-style:italic;font-weight:600;src:url('fonts/asap/Asap_Condensed-SemiBoldItalic.ttf') format('truetype')}
@font-face{font-family:'Asap Condensed';font-style:normal;font-weight:700;src:url('fonts/asap/Asap_Condensed-Bold.ttf') format('truetype')}
@font-face{font-family:'Asap Condensed';font-style:italic;font-weight:700;src:url('fonts/asap/Asap_Condensed-BoldItalic.ttf') format('truetype')}

